div{
    margin-top: 300px;
    width: 600px;
    text-decoration: none;
}

body{
    background-image: url("http://cdn.shopify.com/s/files/1/0003/9226/5794/collections/Ferreteria.jpg?v=1593555968");
    
}

